<template name="addMember">
    <h1 style="text-align: center;">Enter your Information!</h1>
    <div class="container">
        {{> quickForm collection="Members" id="memberForm" type="insert"}}
    </div>
</template>

<template name="memberList">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Username</td>
                <td>uId</td>
                <td>Swipe Access</td>
            </tr>
        </thead>
        <tbody>
        {{#each members}}
            <tr>
                <td>{{firstName}} {{lastName}}</td>
                <td>{{email}}</td>
                <td>{{username}}</td>
                <td>{{uID}}</td>
                <td>{{swipeString swipeAccess}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>

<template name="loading">

</template>
